:root {
    --row-height: 350px;
    --global-gradient: linear-gradient(180deg, rgba(197,196,207,1) 0%, rgba(206,207,213,1) 25%, rgba(208,210,214,1) 72%, rgba(197,196,207,1) 100%);
}

#shop {
 width: 100%;
 height: auto;
}

#shop-list {
 width: 100%;
 padding: 0px;

 display: table;
 table-layout: fixed;

 border-collapse: collapse; 
}

.content {
 background: var(--global-gradient);
 height: inherit;
}

.image-holder {
    overflow-y: hidden;
}

.product-image {
 width: 100%;
}

#shop-list tr td {
 height: var(--row-height);
 padding: 0px;
}

#shop-list tr {
 height: var(--row-height);
}

