.list-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: 0;
    padding: 0;
}

.list-item {
    grid-column: 1;

    height: 280px;
}

.list-item-media-div {
    width: 100%;
    height: 100%;

    background-color: black;
}

.list-item-media {
    

}

